/*Reset html*/
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
h1 {
    color: white
}

h2 {
    text-align:center;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/fitnessBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 16rem;
    background-color: none;
    background-image: url('../Images/notepadBackground1.png');
    background-repeat: no-repeat;
    background-position-y: 70px;
    background-size: cover;
    min-height: 100%;
    height: auto;
    
}

.jumbotron {
    padding: initial;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(203,180,138);
    background-color: rgba(203,180,138,0.7);
    border: 1px solid rgb(203,180,138);
    color: white;
    text-shadow: 4px 6px 4px #000;
    text-shadow: 1px 3px 5px #000;
}

.jumbotron img{
    margin: auto;
    width: 90%;
    height: 28rem;
    padding: 2rem;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.col-md-4 {
    border: 1px solid rgb(203,180,138);
    background-color: rgb(203,180,138);
    background-color: rgba(203,180,138,0.7);
}

.btn-default {
    
}
.btn-lg {
    background-color: black;
    border-color: grey;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.create {
    text-align:center;
}
/* Table styles*/
.table, th {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    padding-bottom: 1rem;
}
th, th:last-child, td:first-child {
    border-left: 1px solid #808080;
}

th:last-child {
    border-right: 1px solid #808080;
}

td {
    border-right: 1px dotted red;
    border-bottom: .5px solid blue;
    color: #808080;
}

td:last-child {
    border-right: 1px solid #808080;
}

.form-group label {
    float: left;
    padding-left: 6rem;
}

#ExerciseTypes {
    float: left;
    margin: 1rem;
    top: 1rem;
}

footer {
    text-align:center;
    background-color: #222222;
    border-color:#080808;
    width:100%;
    margin: auto;
    color: white;
    font-size: 14px;
    padding: 2rem;
}

@media (max-width: 780px) {
    
    .body-content {
        background-image: none;
        background-color: white;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .jumbotron img{
        width: 0;
        height: 0;
    }

    hr {
        margin: auto;
    }

    .table {
        display: block;
        overflow: scroll;
    }

}

