@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Fitness Notebook</h2>
<h3>Our Mission</h3>
<p> We strive to create the most useful open source application possible on a platform that is easy to
    access and use from whatever device you have with a web connection.
</p>
<h3>What The Notebook Does For You</h3>
<p>The Fitness Notebook is a web based program that allows anyone to save their workout details to better 
    keep track of their day to day exercise activities.  Since many people bring notebooks to the gym to 
    write down their progress, we are trying to make it easier for you to save that informaion with the 
    electronic devices you already carry with you such as your phone, Ipod, or your personal computer.</p>
<h3>How It Works</h3>
<p>Using the Fitness Notebook is easy to do.  Create your own account with us, and start logging your
   workouts.  Over time you will begin to see your progress by using our charting, and exercise logs.
   The rest is up to you.</p>
<h3>Why Should You Try It?</h3>
<p>Motivation is hard to keep going when doing a exercise program.  Many people fail to stick
    to a routine because they don't see the results.  This program will help keep you going by allowing you
    to see the progress you're making and point out any areas that may not be improving so you know what
    to work on.</p>
<p>And It's Free!!</p>
