@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Information</h2>
<h3>Mailing Address</h3>

<address>
    525 Morrison Street<br />
    Chetek, WI 54728<br />
    @*<abbr title="Phone">P:</abbr>*@
    @*425.555.0100*@
</address>

<h3>Email Address</h3>
<address>
    <strong>Support:</strong>   <a href="mailto:eric.l.goettl@gmail.com">eric.l.goettl@gmail.com</a><br />
</address>