@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Motivation Through Execution</h1>
    <img class="fitnessSlides" src="~/Images/Fitness.png" />
    <img class="fitnessSlides" src="~/Images/Fitness2.png" />
    <img class="fitnessSlides" src="~/Images/Fitness3.png" />
    
      <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>