
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>An Error Has Ocurred</h2>
<p>Only email accounts that are registered can save their workouts to the system.  
    Please log in. If you think this is not the case, please contact support on the
    contact page with details about the problem.</p>
